@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out;
}

/* ===== Scrollbar CSS For Hiding ===== */

/* Firefox */
/* * {
  scrollbar-width: none;
} */

/* Chrome, Edge, Safari */
/* *::-webkit-scrollbar {
  display: none;
} */

/* ===== Custom Scrollbar Styling ===== */

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8a4fff #1e1e2f;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e2f;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8a4fff;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7935e0;
}